.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
.posit/assistant


*/poblaciones.dbf
bolivia-censo-2024_cache/html/*

docs/ine_igm_spatial_inspection_cache/
output/locator_maps/workbench/*
output/locator_maps/*map.svg
output/locator_maps/*/*map.svg
# Large map files (>100MB) are stored in ../humdata/maps/ to avoid GitHub size limits
# References are updated to use relative paths (../humdata/...)
maps/*.zip
data/cache/
